.result {
  width: 300px;
  max-width: 100%;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  background-color: #222;
  padding: 16px;
  overflow-y: scroll;
}

.result-item {
  display: flex;
  align-items: flex-start;
  color: #fff;
  margin-bottom: 20px;
}

.result-item-img {
  width: 74px;
  aspect-ratio: 9/16;
  border-radius: 0 !important;
}

.result-item p {
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}
